 /* ===== SPLASH PREMIUM STYLE ===== */

.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #2a0055, #000);
  color: white;
  animation: fadeIn 1.2s ease-out forwards;
}

/* Logo */
.logo-area {
  text-align: center;
  margin-bottom: 50px;
}

.splash-icon {
  filter: drop-shadow(0 0 20px #a855f7);
  animation: float 3s ease-in-out infinite;
}

/* Title */
.splash-title {
  font-size: 32px;
  margin-top: 18px;
  font-weight: 700;
  text-shadow: 0 0 12px #a855f7;
}

.splash-subtitle {
  margin-top: 6px;
  opacity: 0.75;
  font-size: 15px;
}

/* Button */
.enter-button {
  padding: 14px 40px;
  font-size: 18px;
  border-radius: 12px;
  background: linear-gradient(90deg, #a855f7, #6b21a8);
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px #a855f7;
  transition: 0.2s;
}

.enter-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #d68cff;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}